<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for StyleCop.Analyzers" Description="Code analysis rules for Stripe.net" ToolsVersion="14.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <!--
      CS0618: 'member' is obsolete: 'text'
      We may want to test obsolete stuff.
    -->
    <Rule Id="CS0618" Action="None" />

    <!--
      CS1591: Missing XML comment for publicly visible type or member 'Type_or_Member'
      SA0001: XmlCommentAnalysisDisabled
      SA1600: ElementsMustBeDocumented
      SA1602: EnumerationItemsMustBeDocumented
      SA1633: FileMustHaveHeader
      Documentation related warnings, not applicable to tests.
    -->
    <Rule Id="SA0001" Action="None" />
    <Rule Id="CS1591" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1633" Action="None" />

    <!--
      Keep those rules disabled as we actively use region in the code
       - SA1124: DoNotUseRegions
       - SA1202: ElementsMustBeOrderedByAccess
      If we keep regions we can't do the latter as we have internal in the middle
    -->
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1202" Action="None" />
  </Rules>
</RuleSet>
