<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <compilation debug="true" />
    </system.web>
    <system.webServer>
            <handlers>
                <add name="event_hooks_handler" path="*.*" verb="*" type="Stripe.Tests.event_hooks_handler" preCondition="integratedMode" />
            </handlers>
    </system.webServer>
</configuration>