<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Machine.Specifications" version="0.8.2" targetFramework="net40" />
  <package id="Machine.Specifications.Should" version="0.7.2" targetFramework="net40" />
  <package id="NCrunch.Framework" version="2.6.0.18" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net40" />
</packages>
