<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Machine.Specifications" version="0.9.3" targetFramework="net46" />
  <package id="Machine.Specifications.Should" version="0.8.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net46" />
</packages>